# Executables
ffmpeg_average_delay
ffmpeg_cassette
ffmpeg_colorkey
ffmpeg_colormap
ffmpeg_ntsc
ffmpeg_posterize
ffmpeg_scanimate
ffmpeg_to_composite
frameblend
normalize_ts

# Build
compile_commands.json
Release/
Debug/

# IDE
.ccls-cache/
.idea/
*.sublime-workspace

# Doxygen
Docs/html/
