# Executables
ffmpeg_average_delay
ffmpeg_cassette
ffmpeg_colorkey
ffmpeg_colormap
ffmpeg_ntsc
ffmpeg_posterize
ffmpeg_scanimate
ffmpeg_to_composite
frameblend
normalize_ts

# Build
*.a
*.la
*.o
*~
.deps
.deps/*
aclocal.m4
autom4te.cache
compile
compile_commands.json
config.h
config.h.in
config.log
config.status
configure
configure.in
COPYING
depcomp
INSTALL
install-sh
Makefile
Makefile.in
missing
stamp-h1

# IDE
.ccls-cache/
*.sublime-workspace
